@keyframes fade {
	from {
		height: 0;
	}
	to {
		height: auto;
	}
}

@keyframes fade-up {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeScroll {
	0% {
		opacity: 0.5;
		transform: translateY(0);
	}
	50% {
		opacity: 1;
		transform: translateY(10px);
	}
	75% {
		opacity: 0.7;
		transform: translateY(5px);
	}
	100% {
		opacity: 0.5;
		transform: translateY(0);
	}
}

@keyframes shaw {
	0% {
		box-shadow: 0 0 5px 0 #fff;
	}
	50% {
		box-shadow: 0 0 10px 0 #fff;
	}
	100% {
		box-shadow: 0 0 5px 0 #fff;
	}
}

@keyframes translateY {
	0% {
		top: -6rem;
	}
	100% {
		top: 0;
	}
}

@keyframes translateX {
	from {
		right: 100%;
	}
	to {
		right: 3rem;
	}
}
