.dark-mode {
	background-color: var(--background-color-theme);
	color: var(--text-color-primary);
	--background-color-primary: #fff;
	--text-color-primary: #fff;
	--text-color-secondary: #000;
	--background-color-theme: #100e17;
	--background-color-secondary: #fff;
}
