:root {
     font-size: 16px;
     font-weight: 400;
     line-height: 1.8;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: #777;
}

::-webkit-scrollbar {
     display: none;
}

body {
     margin: 0;
     /* overflow: hidden; */
}

html {
     scroll-behavior: smooth;
}

ul {
     list-style-type: none;
}

#loading {
     width: 100vw;
     display: flex;
     justify-content: center;
     z-index: 30;
}

.loading::after {
     content: '';
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ababab55;
}

.landing {
     /* The image used */
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/landingPage/landing1.jpg");
     /* Full height */
     height: 100vh;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-attachment: fixed;
}

.landingtext {
     text-align: center;
     position: absolute;
     top: 50vh;
     left: 50%;
     margin: auto;
     transform: translate(-50%, -50%);
     color: white;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
}

a[href ^="#info"] {
     color: #fff;
     width: 2rem;
     height: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 3rem 0;
}

a[href ^="#info"]:hover {
     text-decoration: none;
}

a[href ^="#info"]>i {
     font-size: 2.5rem;
     animation: fadeScroll 1s linear infinite;
     /* transition: font-size 300ms, opacity 300ms; */
}

@keyframes fadeScroll {
     0% {
          opacity: 0.5;
          transform: translateY(0);
     }
     50% {
          opacity: 1;
          transform: translateY(10px);
     }
     75% {
          opacity: 0.7;
          transform: translateY(5px);
     }
     100% {
          opacity: 0.5;
          transform: translateY(0);
     }
}

.landing1-text button {
     border: none;
     outline: 0;
     display: inline-block;
     padding: 10px 25px;
     color: black;
     background-color: #ddd;
     text-align: center;
     cursor: pointer;
}

.landing1-text button:hover {
     background-color: #555;
     color: white;
}

.landing2 {
     background-image: url("../img/landingPage/landing2.jpg");
     /* Full height */
     height: 100%;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-attachment: fixed;
}

.landing3 {
     background-image: url("../img/landingPage/landing3.jpg");
     /* Full height */
     height: 100%;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-attachment: fixed;
}

.container {
     position: absolute;
     right: 3%;
     width: auto;
}


/* The navbar */

.topnav {
     overflow: hidden;
}


/* Navbar links */

.topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     transition: background-color 500ms, color 500ms;
}

.topnav a:hover {
     background-color: #ddd;
     color: black;
}


/*paragraph*/

.contentparagraph1 {
     color: #777;
     background-color: white;
     padding: 50px 80px;
     text-align: center;
     font-size: 18px;
     width: auto;
}

.info__content>ul {
     display: block;
     margin: auto;
     /* text-align: center; */
     width: 50%;
}

.info {
     height: 100vh;
     display: flex;
     justify-content: center;
}

.info>.info__content {
     width: 50%;
     margin: auto;
}


/*responsive website*/

@media (max-width: 800px) {
     .footer {
          flex-direction: column;
     }
}

.avt {
     width: 15rem;
     height: 15rem;
     margin: auto;
     background-image: url('https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/118771772_1946892495452517_5234922339250540953_o.jpg?_nc_cat=104&ccb=2&_nc_sid=8bfeb9&_nc_ohc=qhf1mOsjaOoAX9yUBwz&_nc_ht=scontent-xsp1-2.xx&oh=8ac073351268f7f7abd2bcf4f0022e2d&oe=5FCC7136');
     background-position: center -50px;
     background-repeat: no-repeat;
     background-size: 360px 450px;
     border: 2px solid #909090;
     border-radius: 50%;
     box-shadow: 0 0 5px 1px #aeaeae;
}

.title {
     text-align: center;
     font-weight: bold;
     color: #777;
}