:root {
	font-size: 16px;
	--text-color-primary: #000;
	--text-color-secondary: #fff;
	--background-color-primary: #000;
	--background-color-theme: #fff;
}

html {
	scroll-behavior: smooth;
}

hr {
	margin: 10rem;
}

body {
	background-color: var(--background-color-theme);
	color: black;
	letter-spacing: 0.025em;
	margin: 0;
	font-weight: 400;
	transition: background-color linear 500ms;
	font-family: "Lato" !important;
}

button {
	border: 0;
	background-color: transparent;
}

button:focus,
button:active {
	outline: none;
}

input:focus {
	outline: none;
}

p {
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--text-color-primary);
	cursor: pointer;
	transition: color linear 300ms;
}

a:hover {
	text-decoration: none;
	color: #333;
}

a:focus {
	outline: none;
	text-decoration: none;
	color: #333;
}

.text_notification {
	background-color: #000;
	color: #fff;
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
	position: sticky;
	z-index: 19;
}

.top {
	background-color: #fff;
	height: 6rem;
	width: 100%;
	transition: top ease 300ms;
	z-index: 5;
	box-shadow: 0 0 5px 0 #999;
}

.top__nav {
	position: fixed;
	top: 0rem;
	z-index: 12;
	animation: translateY 1s;
}

.top > .top__component {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.top > .top__component > .top__icon__user {
	height: 100%;
	display: flex;
	align-items: center;
	justify-self: center;
}

.top > .top__component > .top__icon__user > a > i {
	margin: 0 1rem;
	padding: 0.5rem;
	color: #888;
}

.top > .top__component > .top__icon__user > a > i:hover {
	opacity: 1;
	color: #000;
}

.top > .top__component > .top__icon__user > .hidden {
	display: none;
}

.top__container {
	height: 100%;
	transition: width linear 300ms, right linear 300ms;
}

.btn__close {
	display: none;
	margin-left: auto;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 400;
	width: 100%;
	height: 100%;
	padding-left: 1rem;
}

.menu > .menu__item {
	position: relative;
	height: 2rem;
	opacity: 0.75;
}

.menu > .menu__item > a {
	color: #000;
	font-size: 1.4rem;
	text-decoration: none;
	padding: 0.5rem 1.5rem;
}

.menu > .menu__item:hover {
	opacity: 1;
}

.dropdown {
	visibility: hidden;
	position: absolute;
	left: 0;
	background-color: #fff;
	width: 20rem;
	font-size: 0.9em;
	margin: 0.5rem 0 0 0;
	transform: translateY(-1rem);
	z-index: 5;
	box-shadow: 0 1px 2px 2px #33333309;
	transition: transform ease 0.2s, visibility 0.1s;
}

.act__drop:hover > .dropdown,
.dropdown:hover {
	visibility: visible;
	transform: translateY(0);
}

.act__drop:hover > a::before {
	content: "";
	position: absolute;
	left: 1.5rem;
	right: 3rem;
	bottom: 0;
	display: block;
	background-color: #dedfe0;
	height: 1px;
	animation: translateX 1s;
}

.act__drop > a > i {
	transition: transform linear 200ms;
}

.act__drop:hover a > i {
	transform: rotate(90deg);
}

.dropdown > li {
	padding: 0.5rem 2rem 0.5rem 1rem;
}

.dropdown > li > a {
	text-decoration: none;
	color: #000;
}

.up__top {
	position: fixed;
	bottom: 1rem;
	right: -5rem;
	opacity: 0.6;
	z-index: 1;
	transition: right ease 400ms, opacity ease 400ms;
}

.visible {
	right: 1rem;
}

.visible:hover {
	color: #000;
	opacity: 1;
}

.visible > i {
	text-shadow: 0 0 1px #333;
	transition: text-shadow 300ms;
}

.visible:hover > i {
	text-shadow: 0 0 3px #333;
}

.open__menu__right .main::after {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #33333350;
	z-index: 11;
}

.search__box.active {
	transform: translateY(0);
}

.search__box {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 12;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 0 1rem;
	transform: translateY(-200%);
	transition: transform 300ms;
}

.search__box > i:last-child {
	cursor: pointer;
}

.search__box > input {
	width: 80%;
	border: 0;
	height: 100%;
	padding: 0 1rem;
	font-size: 24px;
}
.search__box > button > span {
	font-size: 3rem;
}
/* FOOTER */
.footer-inner {
	display: flex;

	line-height: 2.8rem;
	justify-content: center;
	margin: 5rem auto;
}

.footer {
	margin-top: 5rem;
	padding: 2rem;
	width: 100%;
	box-shadow: 0 0 5px 0 #333;
}

.footer-inner > div {
	flex-basis: 100px;
	flex-grow: 1;
}

.footer-inner > div:first-child {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.iconrow {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.copyright {
	text-align: left;
	font-size: 12px;
}

input {
	border-radius: 5px;
	border: 1px solid;
}

.fontres {
	width: 50%;
	font-size: 2rem;
	text-align: left;
}

.email {
	display: flex;
	position: relative;
	height: 5rem;
	align-items: center;
}

.email > i {
	color: #000;
	position: absolute;
	z-index: 1;
	left: 10px;
}

.email > input {
	width: 100%;
	position: absolute;
	padding-left: 46px;
}

.h2-title {
	font-weight: bold;
	text-indent: 16%;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.main__loading {
	height: 200vh;
}
