.slide > img {
	width: 70%;
	height: auto;
}

.big-size {
	font-size: 1.5rem;
}

.price {
	font-size: 2rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0;
}

.container > input {
	display: none;
}

.container > input:checked + label {
	border: 2px solid #333 !important;
	color: #555;
	background-color: #ddd2;
}

.container > input:not(:checked) + label {
	border: 2px solid #999;
}

.container > label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 0.5rem;
	cursor: pointer;
	transition: border 150ms, background-color 300ms, color 300ms;
	font-weight: 600;
}

.first-component {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 90%;
	margin: 2rem auto;
}

.inline-group {
	max-width: 7rem;
	padding: 0.5rem;
}

.inline-group button {
	background: #8881;
	border: 1px solid #999;
	border-radius: 0;
	opacity: 0.5;
}

.inline-group button > i {
	color: #999;
}

.inline-group .form-control {
	text-align: center;
}

.select-box > .title {
	text-transform: uppercase;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.slide-product {
	display: flex;
	width: 60%;
	margin: 2rem;
}

.slider-nav {
	margin: 0 0.5rem;
	display: flex !important;
	align-items: center;
	background-color: #efefef;
	width: 20%;
}

.slider-nav .slick-slide {
	width: 100%;
	height: 100px !important;
	margin: 1rem 0;
	background-color: #ddd;
}
.slider-for {
	box-shadow: 0 0 5px 0 #999;
	width: 80%;
	height: 70vh;
}

.slider-for img {
	width: 100%;
	height: 70%;
	object-fit: cover;
	object-position: center;
}

.slick-slide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.slider-for .slick-slide,
.slider-for .slick-list,
.slider-for .slick-track {
	width: 100%;
	height: 100%;
}

.info {
	width: 40%;
	position: relative;
	z-index: 10;
}

.groupBtn > button {
	display: block;
	height: 50px;
	width: 100%;
	margin: 1rem 0.5rem;
	font-weight: 600;
	border: 1px solid #333;
	transition: background-color 300ms, color 300ms;
}

.groupBtn > .addCart:hover {
	background-color: #333;
	color: #fff;
}

.groupBtn > .BuyNow {
	color: #fff;
	background-color: #333;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */

@media (max-width: 620px) {
	.side,
	.middle {
		width: 100%;
	}
	.right {
		display: none;
	}
}

@media (max-width: 920px) {
	.first-component {
		flex-direction: column;
		flex: 100%;
	}
	.first-component > div {
		width: 100%;
		margin: 2rem 0;
	}
	.slide-product {
		width: 100%;
		height: 50vh;
	}
	.slider-for {
		height: 50vh;
	}
	.slider-nav {
		height: 50vh;
	}
	.slider-nav .slick-list {
		height: 80% !important;
	}
}

@media only screen and (max-width: 1600px) {
	.first-component {
		width: 95%;
	}
	.slide-product {
		width: 50%;
	}
}
