#loading {
	width: 100vw;
	display: flex;
	justify-content: center;
	z-index: 30;
}

.loading::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ababab55;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.main {
	width: 100%;
	overflow: hidden;
}

/* Add a gray background color and some padding to the footer */

.bold {
	font-weight: Bold;
}

.button {
	display: block;
	border: none;
	border-radius: 4px;
	background-color: #000;
	color: #fff;
	font-size: 0.9rem;
	padding: 9px 20px;
	transition: width 0.5s;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 0 5px 0 #333;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.button1 {
	background-color: white;
}

.flex-container {
	padding: 2.5rem 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reverse {
	flex-direction: row-reverse;
}

.flex-item {
	margin: 1rem 0;
	padding: 0 20px;
	width: 50%;
	flex-grow: 1;
	height: 100%;
}

/* 
.flex-item:hover>img {
     opacity: 0.7;
} */

.flex-item > img {
	width: 100%;
	transition: opacity 400ms;
}

.flex-item > .title {
	font-weight: bold;
	text-align: left;
}

.flex-item > .subtitle {
	width: auto;
	font-size: 1rem;
	text-align: left;
	margin: 1rem 0;
}

.flex-col-3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	margin: 5%;
}

.flex-item-col {
	background-color: #fff;
	margin: 10px;
	box-shadow: 0 0 5px 0 #999;
	width: 30%;
	height: 500px;
	transition: box-shadow 300ms, transform 300ms;
}

.flex-item-col:hover {
	box-shadow: 0 0 10px 0 #999;
	transform: translateY(-15px);
}

.flex-item-col > div:first-child {
	background: round;
	background-size: contain;
	background-position: center center;
	border-bottom: 1px solid #eaeaea;
	background-repeat: no-repeat;
	width: 100%;
	height: 60%;
}

.flex-item-col > .col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-item-col > .detail {
	height: 40%;
	padding: 20px 10px 10px 10px;
	background-color: #fff;
	color: #555;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.flex-item-col > .detail > .date__upload {
	font-size: 1rem;
	font-weight: 100;
}

.flex-item-col > .detail > .title {
	font-size: 1.5rem;
	text-align: left;
}

.flex-item-col > .detail > .name__product {
	margin: 0;
	font-size: 1.5rem;
	color: #000;
}

.flex-item-col > .detail > .price {
	font-size: 1rem;
}

.flex-item-col > .detail > .reviews > i {
	text-shadow: 0 0 1px #333;
}

.flex-item-col > .detail > .reviews > i:not(.checked) {
	color: #aaa;
}

.flex-item-col > .detail > .price > span:first-child {
	text-decoration: line-through;
}

.flex-item-col > .detail > .reviews > i.fa.fa-star {
	-webkit-text-stroke: 1px #715903cf;
}

.flex-item-col > .detail > .reviews > i.checked {
	color: #f5ce57;
}

.logo__scroll > img {
	width: 256px;
}

.logo__scroll {
	overflow-x: auto;
	margin: 2rem 3rem;
	padding: 2rem 0;
	background-color: #fff;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
}

.logo__scroll::-webkit-scrollbar {
	display: none;
}

video {
	max-width: 100%;
	height: auto;
}

.media__video {
	position: relative;
	text-align: left;
	color: black;
	display: flex;
}

.media__video > .media__content {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	background-color: whitesmoke;
	padding: 20px;
	width: 25rem;
	height: 25rem;
	border: 1px;
	max-width: 100%;
	box-shadow: 0 0 5px 0 #aaa;
}

.media__content > h2,
.media__content > p {
	width: 80%;
}

.media__content > h2 {
	margin: 10px auto;
	font-weight: bold;
	font-size: 2.5rem;
}

.media__content > p {
	margin: 0 auto 15px auto;
	font-size: 1.1rem;
}

.help {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background-color: #15b515;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
