doctype html
head
  title #{title}
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  link(rel='shortcut icon', href='favicon.ico', type='image/ico')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Lato&display=swap', rel='stylesheet')
  // labrary
  // AOS
  link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet')
  script(defer src='https://unpkg.com/aos@2.3.1/dist/aos.js')
  // Css Bootstrap 3-4
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css', integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2', crossorigin='anonymous')
  // Font awesome
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.1/css/all.css', integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp', crossorigin='anonymous')
  // ReactJs
  script(src='https://unpkg.com/react@17/umd/react.development.js')
  script(src='https://unpkg.com/react-dom@17/umd/react-dom.development.js')
  //- script(crossorigin='', src='https://unpkg.com/react@17/umd/react.production.min.js')
  //- script(crossorigin='', src='https://unpkg.com/react-dom@17/umd/react-dom.production.min.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js')
  each script in scripts
    script(src=`${script}` type="text/babel")
  each style in styles
    link(href=`${style}` type="text/css" rel="stylesheet")

  // css page
  link(rel='stylesheet', href='./css/style.css', type='text/css')
  link(rel='stylesheet', href='./css/darkmode.css', type='text/css')
  link(rel='stylesheet', href='./css/menu.css', type='text/css')
  link(rel='stylesheet', href='./css/reponsive.css', type='text/css')
  link(rel='stylesheet', href='./css/anime.css', type='text/css')
  link(rel='stylesheet', href='./css/carousel.css', type='text/css')
body#top__page
#notify.text_notification
#top.top
  .top__component
    a.top__logo(href='/')
      img(src='./img/logo/update0101-2_160x.jpg', alt='Logo')
    #menu.top__container
      button#close__menu.btn__close.close
        span(aria-hidden='true') &times;
      ul.menu
        li.menu__item.act__drop
          a(href='#')
            span Keyboards&nbsp;
            i.fa.fa-chevron-right.fa-xs
          ul.dropdown
            li
              a(href='#') KeyChron K1
            li
              a(href='#') KeyChron K2
            li
              a(href='#') KeyChron K2(Hot-swappable)
            li
              a(href='#') KeyChron K4 (Version 2)
            li
              a(href='#') KeyChron K6
            li
              a(href='#') KeyChron K8
            li
              a(href='#') KeyChron K3 (Pre-order)
            li
              a(href='#')
                | KeyChron ISO Layout
                | Collection
        li.menu__item.act__drop
          a(href='#')
            span Accessories&nbsp;
            i.fa.fa-chevron-right.fa-xs
          ul.dropdown
            li
              a(href='#') Low Profile Keycap Set for K1
            li
              a(href="#") K2 Keycap Set
            li
              a(href='#') K2 PBT Retro Mac Keycap Set
            li
              a(href='#') K2 Wooden Palm Rest
            li
              a(href='#') K3 Wooden Palm Rest
            li
              a(href='#') K3 Keycap Set
            li
              a(href='#') K4 Walnut Wood Palm Rest
            li
              a(href='#') K6 Keycap Set
            li
              a(href='#') K6 Walnut Wood Palm Rest
            li
              a(href='#') K8 Keycap Set
            li
              a(href='#') K8 Wooden Palm Rest
            li
              a(href='#') Switches
            li
              a(href='#') T10 USB-C Hub
        li.menu__item
          a(href='#') Buyers&apos; Showcase
        li.menu__item
          a(href='#') Get 10% off
        li.menu__item
          a(href='#') Blog
    #icon__bar.top__icon__user
      a(href="/account")
        i.fa.fa-user.fa-lg
      a
        i.fa.fa-search.fa-lg(onclick='showSearch()')
      a.hidden(onclick='show()')
        i.fas.fa-bars.fa-lg
      a
        i.fa.fa-shopping-cart.fa-lg
      a
        i.fa.fa-adjust.fa-lg(aria-hidden='true', onclick='darkMode()')
    #searchBox.search__box
      i.fas.fa-search.fa-2x
      input#search(type='text', name='search', placeholder='Search our store')
      button(onclick='closeLayerMain()')
        span(aria-hidden='true') &times;
#main.main.main__loading
a#up__top.up__top(href='#top__page')
  i.far.fa-caret-square-up.fa-3x

// footer
.footer
  .footer-inner
    div
      a(href='#')
        i.fab.fa-facebook.fa-2x(aria-hidden='true')
      a(href='#')
        i.fab.fa-twitter.fa-2x(aria-hidden='true')
      a(href='#')
        i.fab.fa-instagram.fa-2x(aria-hidden='true')
      a(href='#')
        i.fab.fa-youtube.fa-2x(aria-hidden='true')
    div
      h4.bold KEYCHRON
      div About us
      div Where to Buy
      div Careers
      div Blog
      div Contact us 
      div Influencer 
    div
      h4.bold HELP &amp; SUPPORT
      div User Manual
      div Firmwares 
      div Help Center
      div Shipping Policy 
      div Return Policy 
      div Warranty 
      div Privacy Policy
      div Terms Of Service
      div Different Layout Survey
      div Sitemap
    div
      h4.bold BE THE FIRST TO KNOW
      div
        | Get the latest product news, special offers and interesting behind-the-scenes stories from
        | us.
      form.email(action='/action_page.php')
        i.far.fa-envelope.fa-2x
        input#email(type='email', name='email', placeholder='Enter your email')
  .copyright
    | &copy; 2020 Keychron | Wireless Mechanical Keyboards for
    | Mac, Windows and Android
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
script(async src='./js/scroll.js', type='text/javascript')